body{ 
	padding-left:11em;
	font-family:"Trebuchet MS", Verdana, Arial, serif;;
	color:rgb(44, 243, 26);
	background-color:rgb(4, 255, 0);}
  UL.navbar{
	list-Style-type:none;
	padding:0;
	margin:0.5em;

	position:absolute;
	top:2em;
	left:1em;
	width:9em;
	}
  h1,h2,h3{
	font-family:Helvetica,Geneva,Arial,Sunsans-Regular,sans-serif;}
  UL.navbar li{
		background:orange;
		margin:0.5em0;
		padding:0.5em;
		border-right:1em solid rgb(0, 0, 0)
		}
  UL.navbar a{
		text-decoration:none}
	a:link{
		color:rgb(0, 0, 0)}
	a:visited{
		color:rgb(124, 59, 59)}
 